<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permission for Camera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" />

    <!-- Permission for Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Permission for Foreground Services (background execution) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Permission for Activity Recognition (Step counting) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Permission for Accessing Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    
    <!-- Other permissions can go here -->
</manifest>
